
*.mat
*.log
*.aux
*.zip
*.pdf
*.gz
*.tar
*.data
*.mexmac*
wavelet_FISTA/
DREAM3D-4.2.4912-RHEL6-x86_64/
ParaView-4.1.0-Linux-64bit/
demodata/
GAGA/
denoise/
gui/
guiBak/
kunPost/
sparseCT/
subfunctions/
